<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liyang.webadmin.persistence.mapper.MetaMapper">
	
	
	<select id="findAll" resultType="meta" >
		SELECT
			*
		FROM meta a
		
		WHERE a.useable = 1 ORDER BY meta_type,'order'
	</select>
	
	<select id="findByType" resultType="meta" >
		SELECT
			*
		FROM meta a
		
		WHERE a.useable = 1 and a.meta_type=#{0} ORDER BY meta_type,'order'
	</select>
	
	
</mapper>